<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".BabyVoiceApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BabyVoiceBridge">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="babyvoice" android:host="briefing" />
                <data android:scheme="babyvoice" android:host="last-feeding" />
                <data android:scheme="babyvoice" android:host="next-feeding" />
                <data android:scheme="babyvoice" android:host="last-wake" />
                <data android:scheme="babyvoice" android:host="next-sleep" />
                <data android:scheme="babyvoice" android:host="last-diaper" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name=".BabyStatusLauncherAlias"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_alias_baby_status"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".BabyBriefingLauncherAlias"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_alias_baby_briefing"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".BabyVoiceLauncherAlias"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_alias_baby_voice"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".BabyLogLauncherAlias"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_alias_baby_log"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".CareLogLauncherAlias"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_alias_care_log"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <service
            android:name=".integration.assistant.BriefingTileService"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/tile_briefing_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>
</manifest>
